In [ ]:
import os
import sys
from pathlib import Path

import pandas as pd

print(sys.path.insert(0, os.path.abspath("..")))
from src.config import cfg  # noqa: E402

sys.path.insert(0, os.path.abspath(".."))

None

In [10]:
path = f"{Path().resolve().parent}/{cfg['data']['processed_path']}"
df = pd.read_parquet(path)

print(df.columns.tolist())
df.head()

['ts', 'userId', 'sessionId', 'page', 'auth', 'method', 'status', 'level', 'itemInSession', 'location', 'userAgent', 'lastName', 'firstName', 'registration', 'gender', 'artist', 'song', 'length', 'ts_dt', 'registration_dt', 'os', 'browser', 'device', 'city', 'region', 'country']

,ts,userId,sessionId,page,auth,method,status,level,itemInSession,location,...,song,length,ts_dt,registration_dt,os,browser,device,city,region,country
0,1538352011000,293,292,NextSong,Logged In,PUT,200,free,20,"Corpus Christi, TX",...,Grand Designs,597.55057,2018-10-01 00:00:11+00:00,2018-07-20 05:11:47+00:00,macOS,Chrome,Desktop,Corpus Christi,TX,USA
1,1538352025000,98,97,NextSong,Logged In,PUT,200,free,74,"Houston-The Woodlands-Sugar Land, TX",...,Bulls,380.21179,2018-10-01 00:00:25+00:00,2018-09-27 17:33:58+00:00,macOS,Chrome,Desktop,Houston-The Woodlands-Sugar Land,TX,USA
2,1538352118000,179,178,NextSong,Logged In,PUT,200,paid,184,"Orlando-Kissimmee-Sanford, FL",...,Because I Got High,202.37016,2018-10-01 00:01:58+00:00,2018-09-03 05:44:15+00:00,macOS,Chrome,Desktop,Orlando-Kissimmee-Sanford,FL,USA
3,1538352119000,179,178,Logout,Logged In,PUT,307,paid,185,"Orlando-Kissimmee-Sanford, FL",...,<NA>,NaN,2018-10-01 00:01:59+00:00,2018-09-03 05:44:15+00:00,macOS,Chrome,Desktop,Orlando-Kissimmee-Sanford,FL,USA
4,1538352124000,246,245,NextSong,Logged In,PUT,200,paid,22,"Mobile, AL",...,Smile (Radio Edit),194.53342,2018-10-01 00:02:04+00:00,2018-09-02 23:30:18+00:00,Windows,Firefox,Desktop,Mobile,AL,USA

### Date Fields
The date fields: ts timestamp for every log, registration user signup data
so we're using timestamp for log

In [15]:
print('min', df["ts_dt"].min())
print('max', df["ts_dt"].max())

min 2018-10-01 00:00:11+00:00
max 2018-12-01 00:01:06+00:00

<pre lang="markdown">2018-10-01 |---------------------------| 2018-10-31 |--------------------------->| 2018-12-01
<br>            ^ features window (31 days)  ^ cut-off   ^ outcome window (31 days)</pre>

Feature Window: 2018-10-01 â”€â”€â–º 2018-10-31  (cut-off day included)<br>
Target Window:  2018-11-01 â”€â”€â–º 2018-12-01  (31 days future)<br>

Cut-off: 2018-10-31<br>
Inactivity threshold: 31 days<br>
Use ts_dt for all calculations (ignore registration_dt for churn labeling).